################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RecipeAPI/bin/Debug
/RecipeAPI/obj/Debug
